@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.backgroud-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
      
}
.backgroud-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
      
}
.backgroud-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
      
}
.backgroud-4{
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.prac{
  grid-row:span 2;
}